# Pandas Basics 

The majority of the visualizations you will generate in the context of this lab, will visualize data stored in *pandas* dataframes. 
**Pandas** is an essential data analysis library for Python. It has functions for analyzing, cleaning, exploring, and manipulating data.

The main data structure introduced in Pandas is called a **Data Frame**.  This is a two-dimensional table of data, similar to an SQL table or a spreadsheet.  Pandas also provides a one-dimensional data structure called a **Series** that we will encounter when accesing a single column or row of a Data Frame.

> ### Datasets:
>
> **[International tourism, number of arrivals](https://data.worldbank.org/indicator/ST.INT.ARVL)** 
>
>This dataset contains the yearly number of inbound tourists for every country. The data on inbound tourists refer to the number of arrivals, not to the number of people traveling. Thus a person who makes several trips to a country during a given period is counted each time as a new arrival.
>    
>
>**[TripAdvisor European restaurants](https://www.kaggle.com/datasets/stefanoleone992/tripadvisor-european-restaurants)**
>
>This dataset includes restaurants with attributes such as location data, average rating, number of reviews, open hours, cuisine types, awards, etc. The dataset combines the restaurants from the main European countries. In the context of this lab, we will work with a subset of the dataset that includes restaurants in Greece.

## Importing Data

First, we'll import *pandas* and *numpy*. *Numpy* is a very useful library for working with arrays of data in Python.

In [ ]:
import numpy as np  # useful for many scientific computing in Python
import pandas as pd # primary data structure library

Pandas has a variety of functions named `read_xxx` for reading data in different formats. In the context of this lab, and for the assignment, you will need to read `csv` files. However, Pandas supports several other file formats such as json, excel, and sql.


To read a CSV file, we use `read_csv`. There are many options to `read_csv` that can be used.  For example, you can set the specific delimiter used in your file, instead of the default `sep=','`.

Then, let's download and import our dataset using *pandas*'s `read_csv()` method.

In [ ]:
# the url string of our CSV file
url = "./international_tourism.csv"

# Read the .csv file and store it as a pandas Data Frame
df_tourism = pd.read_csv(url)

# Output object type
type(df_tourism)

## Viewing Data

We can view our Data Frame by calling the head() function:

In [ ]:
df_tourism.head()

The head() function simply shows the first 5 rows of our Data Frame.  You can specify the number of rows you'd like to see as follows:

In [ ]:
df_tourism.head(10)

We can also view the bottom 5 rows of the dataset using the `tail()` function.

In [ ]:
df_tourism.tail()

If we wanted to view the entire Data Frame we would simply write the following:

In [ ]:
# Output entire Data Frame
df_tourism

As you can see, we have a table where each row is a record of our data, corresponding to a different country.

When analyzing a dataset, it's always a good idea to get some basic information about your dataframe. We can do this by using the `info()` method.

This method can be used to get a short summary of the dataframe.

In [ ]:
df_tourism.info(verbose=True)

We can view the data types of our data frame columns with by calling .dtypes on our data frame:

In [ ]:
df_tourism.dtypes

To get the list of column headers we can call upon the data frame's `columns` instance variable.

In [ ]:
df_tourism.columns

Similarly, to get the index of the dataframe we use the `.index` instance variable.

In [ ]:
df_tourism.index

Note: The default type of instance variables `index` and `columns` are **NOT** `list`.

In [ ]:
print(type(df_tourism.columns))
print(type(df_tourism.index))

To get the index and columns as lists, we can use the `tolist()` method.

In [ ]:
df_tourism.columns.tolist()

In [ ]:
df_tourism.index.tolist()

To view the dimensions of the dataframe, we use the `shape` instance variable of it.

In [ ]:
# size of dataframe (rows, columns)
df_tourism.shape

**Note**: The main types stored in *pandas* objects are `float`, `int`, `bool`, `datetime64[ns]`, `datetime64[ns, tz]`, `timedelta[ns]`, `category`, and `object` (that includes strings). In addition, these dtypes have item sizes, e.g. `int64` and `int32`.

## Cleaning and preparing the dataset

Let's clean the data set to remove a few unnecessary columns. We can use *pandas* `drop()` method as follows:

In [ ]:
# axis=0 represents rows (default) and axis=1 represents columns.
df_tourism.drop([0], axis=0, inplace=True)
df_tourism.head()

Let's rename the "Country Name" column to simplify it. For this, we use the `rename()` function by passing in a Python dictionary of old and new names:

In [ ]:
df_tourism.rename(columns={'Country Name':'Country'}, inplace=True)
df_tourism

Also, as you can see, the default index of the dataset is a numeric range. Since we would like to be able to access the data by a specific country, we can set the "Country" column as the index of the dataframe:

In [ ]:
df_tourism.set_index('Country', inplace=True)
df_tourism
# To reset the index, we can use 
# df_tourism.reset_index(inplace=True)

We will also add a 'Average' column to hold the mean tourist yearly arrivals arrivals by country, as follows:

In [ ]:
df_tourism['Average'] = df_tourism.mean(axis = 1, numeric_only=True)
df_tourism

We can check to see how many null/missing values we have for every column in the dataset as follows:

In [ ]:
df_tourism.isna().sum(axis=1)

Finally, let's view a quick summary of each column in our dataframe using the `describe()` method.

In [ ]:
df_tourism.describe()

As you can see, there are some columns that are completely empty, containing only NaN values. To delete these columns, we can use the `dropna()` function.

In [ ]:
df_tourism.dropna(how='all', axis=1, inplace=True)
df_tourism.head()

Similarly, to delete countries that have no values for any year, we use the following:

In [ ]:
df_tourism.dropna(how='all', axis=0, inplace=True)
df_tourism

***

## Indexing and Slicing

To get the data for column 2020:

In [ ]:
df_tourism['2020']  # returns a series

To get the data for years 2018 and 2020:

In [ ]:
df_tourism[['2018', '2020']] # returns a dataframe

### .loc() and .iloc()

.loc() and .iloc() takes two single/list/range parameters separated by ','.

The first one indicates the row and the second one indicates columns.

.iloc() is position based slicing, whereas .loc() uses labels.

In [ ]:
# retrieve the complete row for Greece
df_tourism.loc['Greece']

In [ ]:
# alternate methods
df_tourism.iloc[71]

In [ ]:
df_tourism[df_tourism.index == 'Greece']

In [ ]:
# Greek data for year 2020
df_tourism.loc['Greece', '2020']

In [ ]:
# same result using positional indices
df_tourism.iloc[71, 25]

In [ ]:
# Greek data for years 2018, 2019 and 2020
df_tourism.loc['Greece', ['2018', '2019', '2020']]

In [ ]:
# Same result with .loc and slicing
df_tourism.loc['Greece', '2018':'2020']

In [ ]:
# same result using positional indices
df_tourism.iloc[71, [23, 24, 25]]

In [ ]:
# same result using slicing
df_tourism.iloc[71, 23:26]

In [ ]:
# Return all countries for 2019 and 2020
df_tourism.loc[:,['2019', '2020']]

In [ ]:
# Return all countries for 2019 and 2020
df_tourism.loc[:,['2019', '2020']]

In [ ]:
# Select first 5 rows for all
df_tourism.iloc[:5, :5]

In [ ]:
# Select first 5 rows for years 2018, 2019 and 2020
df_tourism.iloc[:5, 23:26]

### Filtering with conditions

To filter the dataframe based on a condition, we simply pass the condition as a boolean vector.

First, let's import the greek restaurants dataset into a new dataframe:

In [ ]:
df_restaurants = pd.read_csv('tripadvisor_restaurants_greece.csv')
df_restaurants

Let's view the columns of the dataset:

In [ ]:
df_restaurants.columns

To find the unique values for a specific column, e.g. region:

In [ ]:
df_restaurants.region.unique()

In [ ]:
# create the condition boolean series
condition = df_restaurants['region'] == 'Attica'
print(condition)

In [ ]:
# pass this condition into the dataFrame
df_restaurants[condition]

In [ ]:
# we can pass multiple criteria in the same line.
df_restaurants[(df_restaurants['region'] == 'Attica') & (df_restaurants['claimed'] == 'Claimed')]

# note: When using 'and' and 'or' operators, pandas requires we use '&' and '|' instead of 'and' and 'or'
# don't forget to enclose the two conditions in parentheses